* {
    margin: 0;
    padding: 0;
}

body {
    background: #ffa600;
}

h1 {
    font-family: Montserrat;
    color: #FFFFFF;
    font-size: 30px;
}

#reg {
    color: #181818;
}

main p a {
    font-family: Montserrat;
    color: red;
    font-weight: 500;
    text-decoration: none;
}

main p {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

main p {
    font-family: "Montserrat";
    color: #8A8888;
    font-size: 20px;
    transition: all 0.2s ease-in-out;
}

.input {
    content: '';
    height: 56px;
    background-color: #363636;
    border-radius: 10px;
    padding: 0 16px;
    position: relative;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0);
    width: 300px;
    transition: all 0.3s ease-in-out;
    color: white;
    font-family: "Montserrat";
    font-size: 12px;
}

.input:focus {
    outline: #464646;
    border-color: #464646;
}

.submit {
    border: none;
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    border-radius: 45px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: white;
    background: #dc2f55;
    background: rgb(226, 63, 63);
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s ease-in-out;
}

.submit:hover {
    cursor: pointer;
    background: rgb(226, 63, 63);
    box-shadow: 0 5px 10px rgb(226, 63, 63);
    color: white;
    transform: translateY(-7px);
}


/* .input:active {
    outline: ;
} */

.container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.relative {
    position: relative;
}

label {
    font-family: "Montserrat";
    color: #8A8888;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

.input:focus~label,
.input:not(:placeholder-shown)~label {
    top: 8px;
    font-size: 12px;
}

label {
    position: absolute;
    left: 16px;
    top: 20px;
    font-size: 16px;
    color: #aeaeae;
    transition: all .125s cubic-bezier(0.57, 0.21, 0.69, 1.25);
    pointer-events: none;
}

form {
    width: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    max-width: 400px;
    /* width: min(100%, 410px); */
    background-color: #252627;
    border-radius: 10px;
    gap: 20px;
}