* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

header a {
    text-decoration: none;
}

header p {
    font-family: "Montserrat";
    color: #181818;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

header p:hover {
    color: #FFFFFF;
}

.login {
    align-items: center;
    justify-content: space-evenly;
    width: 100px;
}

header {
    z-index: 1000;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    background: #ffa600;
    height: 90px;
}

/* header a {
    padding: 25px;
    border-radius: 15px;
    font-size: large;
    position: relative;
    margin-bottom: 10px;
    text-decoration: none;
    color: rgb(16, 111, 175);
    font-family: "Roboto";
} */

li ul {
    margin-left: 50px;
}